* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

header {
  height: 60px;
  font-size: 0.8em;
}    

.header-left {
  display: inline-grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: 60px;
  position: absolute;
  padding-left: 10px;
  left: 0;
}

.header-right {
  height: 100%;
  display: inline-grid;
  grid-template-columns: 50px 50px 50px 60px 60px;
  grid-template-rows: 60px;
  position: absolute;
  right: 0;
}

.header-text {
  text-decoration: none;
  justify-self: center;
  align-self: center;
  color: rgb(37, 37, 37);
}

.notifications {
  height: 24px;
  width: 24px;
  justify-self: center;
  align-self: center;
  background-color: grey;
}

.other-products {
  background-color: rgb(56, 56, 56);
  width: 18px;
  height: 18px;
  justify-self: center;
  align-self: center;
}

.google-account {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  justify-self: center;
  align-self: center;
  background-color: rgb(131, 50, 131);
  color: white;
  font-size: 1.5em;
  line-height: 36px;
  text-align: center;
}

.content {
  top: 80px;
}

.search-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 80px 60px;
  width: 600px;
}

.logo {
  margin: auto;
  grid-row: 1 2;
}

.search-box {
  border: 1px solid rgb(170, 170, 170);
  height: 40px;
  width: 600px;
  grid-row: 2 3;
}

.search-buttons {
  margin: 0 auto;
  grid-row: 3 4;
}
.search-button {
  display: inline-block;
  justify-self: stretch;
  width: 140px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(43, 43, 43);
  background-color: rgb(199, 199, 199);
}
